<div class="flex justify-center items-center  mt-20 ">
  <div class="max-w-sm mx-auto  p-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  

  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" enctype="multipart/form-data">
    <div *ngIf="register" class="form-group">
      <label for="exampleInputEmail1">User name</label>
      <input type="text" name="userName" class="form-control" id="exampleInputUserName" aria-describedby="username"
        placeholder="Enter email" [(ngModel)]="userDetails.userName" required>
      <div *ngIf="userForm.controls.userName?.touched && userForm.controls?.userName?.invalid" class="text-danger">
        User name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <div *ngIf="isEmailErr" class="text-danger">
        {{emailErr}}
      </div>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" [(ngModel)]="userDetails.email" required>
      <div *ngIf="userForm.controls.email?.touched && userForm.controls?.email?.invalid" class="text-danger">
        Email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
        [(ngModel)]="userDetails.password" required>
      <div *ngIf="userForm.controls.password?.touched && userForm.controls?.password?.invalid" class="text-danger">
        Password is required.
      </div>
    </div>
    <div *ngIf="register" class="form-group">
      <label for="exampleInputPassword1">Confirm password</label>
      <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1"
        placeholder="Confirm Password" [(ngModel)]="userDetails.confirmPassword" required>
      <div *ngIf="userForm.controls.confirmPassword?.touched === userForm.controls?.password?.invalid"
        class="text-danger">
        Confirming your password is required.
      </div>
    </div>
    <div>
      {{errMessage}}
    </div>
    <button type="submit" [disabled]="userForm.invalid" class="btn text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" [disabled]="userForm.invalid">Submit</button>
  
    <div (click)="toRegister()"  class="text-blue-500 hover:text-blue-700 flex justify-end mt-3"> 
      <div *ngIf="register; else login">
        <p>Login here</p> 
  </div> 
   <ng-template #login>
    <p>Register here</p>
  </ng-template>
</div>
  </form>
</div></div>
