
<div class="container w-full max-w-xs mt-4">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"  #catagoryForm="ngForm" (ngSubmit)="submitCatagory(catagoryForm)" enctype="multipart/form-data">
        <div class="form-group">
          
          <label for="name text-sm font-bold mb-2" class="text-lg font-semibold" >Catagory</label>

          <input type="text"
          name="title" class="form-control block text-gray-700 text-sm font-bold mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Catagory title"  [(ngModel)]="catagoryData.title" >
          <app-form-errors *ngIf="catagoryForm.controls.title?.touched && catagoryForm.controls.title?.invalid" [msg]="' Catagory title is required'"/>
          
          <div  class="text-danger"> 
          {{errMsg}}
          </div>
          <div  class="text-success">
            {{succMsg}}
         </div>
          
        </div>
        <button type="submit" class=" bg-teal-500 hover:bg-teal-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Catagory</button>
      </form>
      
      <app-table [column]="headerArray" [data]="allCAtagory"  (edit)="editCatagory($event)" (delete)="deleteCatagory($event)"  />
     
  </div>  
 
 