

   <div class="container">
    <h2 class="heading">Add products</h2>
    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" enctype="multipart/form-data">
   
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{userDetails.name}}" [(ngModel)]="userDetails.name" required>
        <div *ngIf="userForm.controls.name?.touched && userForm.controls.name?.invalid" class="text-danger">
          Name is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description" name="description" value="" [(ngModel)]="userDetails.description" required description></textarea>
        <div *ngIf="userForm.controls.description?.touched && userForm.controls.description?.invalid" class="text-danger">
          Please enter a description about the product.
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="" [(ngModel)]="userDetails.price" required>
        <div *ngIf="userForm.controls.price?.touched && userForm.controls?.price?.invalid" class="text-danger">
          Address is required.
        </div>
      </div>
  
      <div class="form-group">
        <label   for="catagory">Catagory</label>
        <select  class="form-control" id="catagory" name="catagory" value="" [(ngModel)]="userDetails.catagory" required>
          <option value="" disabled>Select catagory</option>
          <option  *ngFor="let catagories of catagories">{{catagories.title}}</option>
        </select>
      </div>
      <div class="custom-file">
            
       
        <label class="form-label" for="photo">Select picture ot the product </label>
       
        <input #imageInput
        
         type="file" class="form-control" id="myPhoto" name="myPhoto"   (change)="processFile(imageInput)" />
       
      </div>
     
 
     

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
        
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Catagory</th>
          <th scope="col">picture</th>
          <th scope="col" >edit</th>
          <th scope="col">delete</th>

        </tr>
      </thead>
      <tbody *ngFor="let products of products">
        <tr>
          
          <td>{{products.title}}</td>
          <td >{{products.description}}</td>
          <td >{{products.price}}</td>
          <td >{{products.catagory}}</td>
          <td ><img class="card-img-top"  [src]=imgUrl+products.img alt="{{products.title}}" width="30px" height="100px"></td>
          <td ><button (click)="editProduct(products.id)">Edit</button></td>  
          <td><button (click)="deleteProduct(products.id)">Delete</button></td>    
        </tr>
      </tbody>
    </table>
  </div>