<div class="container mt-10">
    <table class="table bg-light">
      <thead class="thead-dark">
        <tr class="text-center"> 
  
          <th class="text-center" scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">qty</th>
          <th scope="col">Operations</th>
          <th scope="col">picture</th>

          <th>total </th>
          <th></th>
        </tr>
      </thead> 
      <tbody *ngFor="let item of checkoutList" class="text-center">
       
        <tr class="text-center">
          <td>{{item.title}}</td>
          <td>{{item.price}}</td>
          <td>{{item.qty}}</td>
          <td>
            <a (click)="minusQty(item.id)"><span class="material-icons">
              remove
              </span> </a> /
            <a (click)="addQty(item.id)"><span class="material-icons">
              add
              </span></a>
        </td>
          <td class="d-flex justify-content-center"><img  [src]=imgUrl+item.img   width="80px" height="80px">
          </td>
          <td >{{item.price * item.qty}}</td>
     
        </tr>
      </tbody>
     
    </table>
  
     
  </div>
  <!-- <div class="contai d-flex justify-content-center bg-black "  > Pay - {{overAllSum}} $</div> -->
  <div class="container flex justify-content-end"> <button class="bg-teal-700 hover:bg-teal-400 text-white font-bold py-2 px-4 rounded-full">
    Pay - {{overAllSum}} $
  </button>
  </div>
 
  
