

<div class="py-5 mt:4 "> 
  <div class="container col-sm ">
    <div class="d-flex flex-wrap justify-content-center justify-content-center">
      <div *ngFor="let product of products"
        class="max-w-sm rounded overflow-hidden shadow-lg transform hover:scale-105 shadow-xl hover:bg-gray-150 custom-card 	 mb-4 mr-4">
        <img class="w-full " [src]=imgBaseUrl+product.img alt="{{product.title}}">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{product.title}}</div>
          <p class="text-gray-700 text-base hover:bg-gray-100">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6  pb-2 flex justify-between items-center relative">
          <div>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ product.price |currency}}$</span>
            <span class="inline-block bg-gray-200 rounded-full px-1 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Enjoy shopping</span>
          </div>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 cursor-pointer bg-teal-400 hover:bg-teal-700" (click)="addTocart(product.id)">
            <span class="material-icons mr-2">add_shopping_cart</span>
            <span *ngIf="product.isItemAdded; else removeAddCart"><span class="material-icons">done_outline</span></span>
          </span>
        </div>
        
      </div>
    </div>
    
        
  </div>

 
